@model IEnumerable<MVC_BLL.Models.Client>

@{
    ViewData["Title"] = "Clients";
}
<div class="row align-items-center">
    <div class="col">
        <h1>Clients</h1>
    </div>
    <div class="col">
        <a class="btn btn-primary btn-lg vertical-spacing" asp-action="DataTableView">Change view</a>
    </div>
</div>

</br>

@foreach(var client in Model)
{
    if (client.UserName != "admin")
    {
        <partial name="_ClientDetailsPartialView" model="client"/>
    }
    }

