@{
	ViewData["Title"] = "Home Page";
}
<style>
	.card-body h1 {
		color: #007BFF;
		font-size: 30px;
		font-weight: 600;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-transform: uppercase;
		margin-top: 30px;
		margin-left: 0px;
		margin-bottom: 20px; /* Adjusted margin */
	}

	.service-item {
		transition: .5s;
	}

		.service-item:hover {
			margin-top: -10px;
			box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
		}

	.team-item img {
		position: relative;
		top: 0;
		transition: .5s;
	}

	.team-item:hover img {
		top: -30px;
	}

	.team-item .team-text {
		position: relative;
		height: 100px;
		transition: .5s;
	}

	.team-item:hover .team-text {
		margin-top: -60px;
		height: 160px;
	}

	.team-item .team-text .team-social {
		opacity: 0;
		transition: .5s;
	}

	.team-item:hover .team-text .team-social {
		opacity: 1;
	}

	.team-item .team-social .btn {
		display: inline-flex;
		color: var(--primary);
		background: #FFFFFF;
		border-radius: 40px;
	}

		.team-item .team-social .btn:hover {
			color: #FFFFFF;
			background: var(--primary);
		}


</style>

<!-- About Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
				<div class="d-flex flex-column">
					<img class="img-fluid rounded w-75 align-self-end" src="~/imgs/abtus.jpg" alt="">
					<img class="img-fluid rounded w-50 bg-white pt-6 pe-0" src="~/imgs/abtus2.jpg" alt="" style="margin-top: -25%;">
				</div>
			</div>
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
				<div class="card-body">
					<h1 class="mb-4">Welcome to Our Psychology Clinic!</h1>
				</div>
				<p>Our dedicated team is here to help you on your journey towards mental well-being and personal growth.</p>

				<p><i class="far fa-check-circle text-primary me-3"></i>    Quality health care</p>
				<p><i class="far fa-check-circle text-primary me-3"></i>    Only Qualified Doctors</p>
				<p><i class="far fa-check-circle text-primary me-3"></i>    Medical Research Professionals</p>
				<a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
			</div>
		</div>
	</div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
			<h1>Field of expertise</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="service-item bg-light rounded h-100 p-5">
					<div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
						<i class="fa fa-heartbeat text-primary fs-4"></i>
					</div>
					<h4 class="mb-3">Counseling</h4>
					<p class="mb-4">Counseling and psychological support are therapies that come in different ways depending on the subject.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="service-item bg-light rounded h-100 p-5">
					<div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
						<i class="fa fa-x-ray text-primary fs-4"></i>
					</div>
					<h4 class="mb-3">EMDR Therapy</h4>
					<p class="mb-4">EMDR is a structured therapy that encourages the patient to briefly focus on the trauma memory while simultaneously experiencing bilateral stimulation.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="service-item bg-light rounded h-100 p-5">
					<div class="d-inline-flex align-items-center justify-content-center bg-red rounded-circle mb-4" style="width: 65px; height: 65px;">
						<i class="fa fa-brain text-primary fs-4"></i>
					</div>
					<h4 class="mb-3">Child development</h4>
					<p class="mb-4">The developmental screening takes a closer look at how your child is developing. </p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Service End -->
<!-- Team Start -->
@{
	var therapistList = ViewBag.Therapists;
}
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
			<h1>Our Experience Doctors</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="team-item position-relative rounded overflow-hidden">
					<div class="overflow-hidden">
						<img class="img-fluid" src="~/imgs/pschlg.jpg" alt="">
					</div>
					<div class="team-text bg-light text-center p-4">
						<h5>@therapistList[0].FullName</h5>
						<p class="text-primary">@therapistList[0].Department</p>
						<div class="team-social text-center">
							<a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="team-item position-relative rounded overflow-hidden">
					<div class="overflow-hidden">
						<img class="img-fluid" src="~/imgs/pchlg2.jpg" alt="">
					</div>
					<div class="team-text bg-light text-center p-4">
						<h5>Doctor Name</h5>
						<p class="text-primary">Department</p>
						<div class="team-social text-center">
							<a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="team-item position-relative rounded overflow-hidden">
					<div class="overflow-hidden">
						<img class="img-fluid" src="~/imgs/pchlg3.jpg" alt="">
					</div>
					<div class="team-text bg-light text-center p-4">
						<h5>Doctor Name</h5>
						<p class="text-primary">Department</p>
						<div class="team-social text-center">
							<a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="team-item position-relative rounded overflow-hidden">
					<div class="overflow-hidden">
						<img class="img-fluid" src="~/imgs/pchkg4.jpg" alt="">
					</div>
					<div class="team-text bg-light text-center p-4">
						<h5>Doctor Name</h5>
						<p class="text-primary">Department</p>
						<div class="team-social text-center">
							<a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Team End -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- Footer -->
<footer class="text-center text-white" style="background-color: #3f51b5">
	<div class="container">
		<section class="mt-5">
			<div class="row text-center d-flex justify-content-center pt-5">
				<div class="col-md-2">
					<h6 class="text-uppercase font-weight-bold">
						<a  class="text-white" disabled>About us</a>
					</h6>
				</div>
				<div class="col-md-2">
					<h6 class="text-uppercase font-weight-bold">
						<a  class="text-white" disabled>Staff</a>
					</h6>
				</div>
				<div class="col-md-2">
					<h6 class="text-uppercase font-weight-bold">
						<a  class="text-white" disabled>Client Reviews</a>
					</h6>
				</div>
				<div class="col-md-2">
					<h6 class="text-uppercase font-weight-bold">
						<a class="text-white" disabled>Help</a>
					</h6>
				</div>
				<div class="col-md-2">
					<h6 class="text-uppercase font-weight-bold">
						<a  class="text-white" disabled>Contact</a>
					</h6>
				</div>
			</div>
		</section>

		<hr class="my-5" />

		<section class="mb-5">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-8">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
						distinctio earum repellat quaerat voluptatibus placeat nam,
						commodi optio pariatur est quia magnam eum harum corrupti
						dicta, aliquam sequi voluptate quas.
					</p>
				</div>
			</div>
		</section>

		<section class="text-center mb-5">
			<a  class="text-white me-4" disabled>
				<i class="fab fa-facebook-f"></i>
			</a>
			<a  class="text-white me-4" disabled>
				<i class="fab fa-twitter"></i>
			</a>
			<a class="text-white me-4" disabled>
				<i class="fab fa-google"></i>
			</a>
			<a  class="text-white me-4" disabled>
				<i class="fab fa-instagram"></i>
			</a>
			<a  class="text-white me-4" disabled>
				<i class="fab fa-linkedin"></i>
			</a>
			<a class="text-white me-4" disabled>
				<i class="fab fa-github"></i>
			</a>
		</section>
	</div>

	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)" disabled>
		© 2020 Copyright:
		<a class="text-white" disabled>Psychology_Clinic.com</a>
	</div>
</footer>
<!-- Footer -->
<!-- End of .container -->

<br />
<br />