@model IEnumerable<MVC_BLL.Models.Billing>

@{
	ViewData["Title"] = "Index";
}

<h1>Billing List</h1>



<form method="get">
	<div class="form-group">
		<label class="control-label">Appointment Type</label>
		<select id="selectedOption" class="form-control" name="selectedOption">
			<option> </option>
			<option value="0">Past Billings</option>
			<option value="30">Next Month</option>
			<option value="-30">Last Month</option>
			<option value="10">Next 10 days</option>
			<option value="-10">Last 10 days</option>
			<option value="1">Future Billings</option>
		</select>
	</div>
	<br />
	<input type="submit" class="btn btn-primary btn-block" style="width: 100%;" value="Filter by Appointment Date" />
</form>

<p id="selectedDate"></p>




@{
	decimal totalAmount = 0;
	decimal totalToBePaid = 0;

	if (Model.Count() == 0)
	{
		<h2 style="color: red;" align="center">There are no bills</h2>
	}
	else
	{
		<h2 style="color: red;">Unpaid Bills</h2>
		int i = 0;
		@foreach (var bill in Model)
		{
			if (bill.Status == "Not Paid")
			{
				<partial name="_BillDetailsPartialView" model="bill" />
				totalAmount += bill.Amount;
				totalToBePaid += bill.Amount;
				i++;
			}

		}
		if (i == 0)
		{
			<h2 style="color: green;" align="center">There are no unpaid bills</h2>
		}
		i = 0;
		<h2 style="color: green">Paid</h2>
		@foreach (var bill in Model)
		{
			if (bill.Status == "Paid")
			{
				<partial name="_BillDetailsPartialView" model="bill" />
				totalAmount += bill.Amount;
				i++;
			}

		}
		if (i == 0)
		{
			<h2 align="center">There are no paid bills</h2>
		}
		<div style="text-align: right;">
			<h4>Total amount to be paid: <span style="font-size: 36px; vertical-align: middle; font-weight: bold;">@totalToBePaid.ToString("0.00")</span></h4>

		</div>
	}
}
<div style="text-align: right;">
	<h4>Total Earnings: <span style="font-size: 36px; vertical-align: middle; font-weight: bold;">@totalAmount.ToString("0.00")</span></h4>
	@*@Html.ActionLink("Details", "Details", new { id= 1}) *@
</div>
