@model MVC_BLL.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_ClientDetailsPartialView" model="Model" />
</div>
<div>

    <a asp-action="Index">Back to Clients</a>
</div>
