@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error: @Model.StatusCode.</h1>

@if (Model.StatusCode == 404)
{
    <p>Page not found!</p>
}
else if (Model.StatusCode == 500)
{
    <p>Something went wrong</p>
}
else
{
    <p>A mistake has happened.</p>
}