@model MVC_BLL.Models.Billing

@{
    ViewData["Title"] = "Billing";
}

<h1>Billing Details</h1>
<div>
    <partial name="_BillDetailsPartialView" model="Model" />
</div>

<div>
    <a asp-action="Index">Back Appointments</a>
</div>
